.custom-file-input {
    overflow: hidden;
    color: inherit;
}

#models-list a, #models-list span {
    display: inline-block;
}

a.open-model {
    width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    overflow: hidden;
}

#models-list a.open-model:hover {
    text-decoration: underline;
}

#models-list a.log-file {
    background: #65bb9c;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    position: relative;
    top:2px;
}

.in-middle {
    margin: 0 3px;
}

.muted {
    color: #999;
    font-size: 12px;
}

.hidden {
    visibility: hidden;
    display: none;
}

x3d {
    border:0 none;
}

#viewer x3d {
    width: 100%;
    height: 700px;
}

#cube {
    position: absolute;
    bottom: 0;
    top: 100%;
    width: 200px;
    height: 200px;
}

.row {
    min-width: 100% !important;
    padding: 0 15px;
}
.row.no-pad {
    padding: 0;
}
.button.js-reset {
    margin-bottom: 0;
}
.nav-type {
    padding: 3px 7px;
    transition: .3s all;
}

.highlight {
    background: #bb6565;
    color:#fff !important;
}

#models-menu {
    overflow: hidden;
}

#models-menu li {
    font-size: 14px !important;
}

#show-models-menu {
    margin-bottom: 5px;
}

.accordion-navigation > a {
    background: #008CBA !important;
    color: #f7f7f7 !important;
    font-size: 15px !important;
    padding: 5px 10px !important;
    border-bottom: 1px solid #2a9dc3;
}

.accordion-navigation > .content {
    background: #f7f7f7 !important;
    box-shadow: 0 4px 9px #e4e4e4 inset;
}
.content ul:last-child {
    margin-bottom: 0;
}

span.round.label {
    height: 18px !important;
    padding: 4px 5px 4px 5px;
    line-height: 10px;
    margin-top: 2.5px;
}

.js-buttons-row {
    padding: 0 15px;
}

.no-margin {
    margin: 0px;
    padding: 0px;
}

.rectangle {
    border: 1px solid #000000;
    position: absolute;
}

.oneline {
    display: inline-block;
    vertical-align: middle;
}

input.colors {
    padding: 0px;
    height: 22px;
    margin: 0px;
}

input.light-settings {
    padding: 0;
    height: 22px;
    margin: 0;
}

label {
    float: left;
}

h6 {
    margin: 0;
}

.set.button{
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

#part-id-table {
    margin-bottom: 3px;
}

#set-color {
    top: 17px;
}


.input-label {
    float:left;
    width:25px;
}

.input-control {
    float:left !important;
    width: 80px !important;
}

#set-type-color {
    top: 16px;
}

.type-table-node {
    padding: 0;
}

/* ModelTree styling */
.elements-count, .item-controls, .item-controls ul {
    line-height: 1.1;
}

.elements-count {
    float: left;
}
.counter {
    padding: 3px 5px;
    font-weight: 600;
    font-size: 11px;
    color: #fff;
    background: #65bb9c;
    border-radius: 8px;
    position: relative;
    top: 3px;
}

.element-controls {
    white-space: nowrap;
    float: left;
}

.element-name {
    font-size: 11px;
    cursor: pointer;
    font-style: italic;
    white-space: nowrap;
}

.element-name.strong {
    font-style: normal;
    font-weight: 600;
    color: #008CBA;
}

.element-controls span{
    height: 24px;
    line-height: 24px;
    display: inline-block;
}
.element-controls span[role=hide-element] {
    margin-right: 10px;
}
.element-controls span:hover {
    color: #2b81af;
}
.element-controls .icon {
    cursor: pointer;
    font-size: 12px;
}

/*Dropdown styling*/
.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0;
    top: 33px;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.scroll-container {
    height: 700px;
    overflow: auto;
}

.list-item {
    padding: 3px 5px;
    transition: .3s all;
    border-radius: 3px;
    border-bottom: 2px solid #f7f7f7;
}

.remove {
    cursor: pointer;
    float:right;
}

.remove .icon-cross {
    color: #fff;
    background: #008CBA;
    border-radius: 15px;
    padding: 4px;
    font-size: 8px;
    width: 18px;
    height: 18px;
    text-align: center;
    display: inline-block;
    line-height: 12px;
    transition: .3s all;
}

.remove .icon-cross:hover {
    background: #e74c3c;
}

.id-container {
    font-size: 11px;
    font-weight: 600;
    color: #007095;
}

.last-row .button {
    margin-bottom: 0;
}
